**Data Structure**

1. What are data structures, and why are they important?
   - A data structure is way of organizing and storing data so that it can be accessed and used efficiently.it define the relationship between the data and the operations that can be perfomed on that data.
   Why are data structure important

    . They help in managing large amounts of data efficiently

    . They are essential for writing efficient algorithms

    . The right data structure can optimize time and space.

    . They are widely used in areas like databases, operating system, Ai and
      more.

2. Explain the difference between mutable and immutable data types with examples.
   - Mutable data: can be changed after they are created. mutable data modify
     them without creating a new object. examples: list, dict (dictionary), set
3. What are the main differences between lists and tuples in Python  
   - lists: You can add, remove, or modify elements within a list using  
     indexing and
     slicing. Lists are versatile for storing and managing collections that might change.  
     Ordered, mutable collections of elements. Think of shopping lists or task lists. Lists can hold items of various data types (numbers, strings, even other lists!).

     tuples:  You can access elements using indexing and slicing, but you cannot modify the content. Tuples are useful for representing fixed datasets or configurations.
     Ordered, immutable collections of elements, similar to lists. However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.

4. Describe how dictionaries store data.
   - Dictionaries store data as key-value pairs. each key maps to a value, and use the key to access the corresponding value quickly
   Unordered collections: Elements are not stored in a specific order.
   Unique key-value pairs: Each key acts as a unique identifier for retrieving an associated value.
   Flexible data: Keys and values can be of various data types (strings, numbers, lists, and even other dictionaries).

5. Why might you use a set instead of a list in Python?
   - use a set instead of a list in python when: sets are unordered sets automatically removes duplicates, checking if an item exits in a set is faster compared to list, set support mathematical operations like union, intersection, and difference.
6. What is a string in Python, and how is it different from a list?
   - Difference between a string and list:
   string: contents characters only, immutable cannot be changed, syntax defined with quotes ' or ", used for text.

   List: Any data type (numbers , string, etc.), list is mutable can be changed, defined with square brackets[], used for collections of items.
7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity in Python because they are immutable once a tuple is created, its content cannot be changed.
    
    . No accidental changes: cant add remove or modify items in tuple.this make sure the data stays exactly as it was when created.

    . safe to use as keys: tuples can be used as keys in dictionaries or elements in sets

    . Good for fixed collections: tuples are ideal for data that should not change, like coordinating (x,y),dates, or configuration setting.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that stores key-value pairs and allows fast data access using a hashing technique.

   How It Works:
   .A hash function converts the key into a fixed-size number (called a hash).

   .That hash determines where the value is stored in memory.

   .When you access the key, the hash function finds the correct location almost instantly.
   relate to dictionries in python

   in python, the dict (dictionary) is implemented using a hash table inder the hood.

9. Can lists contain different data types in Python?
   -  lists can contain different data types in Python.
      Integers

      . Integer

      . Floats

      . Stringe

      . Booleans

      . Other lists

      . Even customs objeccts

10. Explain why strings are immutable in Python.
    - String are immutable in python string is created it cannot be changed.
      . Data Safety and Integrity
        Prevents accidental changes to string data, especially when it's shared across parts of a program.

        . Performance Optimization
          Since strings dont change Python can safely reuse them in memory making your program faster and more memory efficient.

        . Hashability
          Immutable strings can be used as dictionary keys or in sets because their hash value wont change.

        . Consistency with Other Immutable
          numbers and tuples, springs remain fixed-making python behavior more predictable and consistent.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Advantages of dictionries
     . Fast Lookups: dictionaries provie fast lookups with constant time 0(1) on average using keys

     . key value structure: store data with meaningful keys

     . Direct Access: store data with meaningful keys

     . flexible data structure: store a wide of range of data types strings, integers, floats, .

12.  Describe a scenario where using a tuple would be preferable over a list.
     - It’s a fixed pair of values (immutable).

      . You won’t accidentally change the coordinates.

      . It makes your intention clear: this data is read-only.

      . Data should not change (like days of the week, coordinates, etc.)

      . You want to use it as a key in a dictionary

      . You want to ensure data integrity

13. How do sets handle duplicate values in Python?
    - sets in python are unorderd collection of unique elements. add duplicate values to a set python automatically removes the duplicates, leaving only one instance of each value.

    . Removing duplicates: Use sets to remove duplicates from a list or other iterable.

    . Membership testing: Use sets for fast membership testing

    . set operations: Use sets for set operations.
    
14. How does the “in” keyword work differently for lists and dictionaries?
    - List: For lists, the in keyword checks if a value is present in the list.
      
      Dictionaries: for dictionaries,the in keyword checks if a key is present in the dictionary. it uses the dictionary hash table to quickly look up the key.

      . Lookup type: For lists, "in" checks for values
                    For dictionaries, "in" checks for keys.

      . Loohup speed: Dictionary lookups are generally faster (0(1) average time, list lookup (0(n) time complexity).

15. Can you modify the elements of a tuple? Explain why or why not.
    - cannot modify the elements of a tuple in python.
      why not

      because tuples are immutable

      . once a tuple is created its contents cannot be changed.
       
      . cant add remove or updated items.

      if the tuple contains mutable object (like a list inside a tuple), you can modify contents of the inner object, just not the tuple itself.
      tuple protect their structure which helps ensure data intergrity avoide bugs and makes your code more predictable.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary in Python is a dictionary where one or more values  
      are also dictionaries. It lets you store structured layered data in a clean and organized way.

      . use case: Organizing complec data, students records, employee     databases, config setting for sortware, JSON response from APIs

17. Describe the time complexity of accessing elements in a dictionary.
    - The time complexity of accessing elements in a dictionary

      Average Case: O(1) (Constant Time)

     . This is because dictionaries use a hash table internally.

     . access an element using a key Python

     . Applies a hash function to the key.

     . Uses the result to find the value's location directly in memory.
     
     Worst Case: O(n) (Rare)

     . This can happen if many keys collide (i.e., hash to the same value).

     . But Python handles this very well using techniques like open addressing, so it's rare in practice.

     Access by key Average time: 0(1), Worst time: 0(N)
     Insert/update key Average time: 0(1), Worst time: 0(n)
     Delete key Average time: 0(1), Worst time: 0(n)

18.  In what situations are lists preferred over dictionaries?
     - . List maintain the order of items which great for sequances.

       . if your data doesn't require lables or indentifires,list are simpler and more readable.

       . lists allow duplicates, unlike sets or dicitionary keys.

       . Use lists when you want to loop through data or access elements by position.

       . list have built-in method like .sort(), .reverse(), and support slicing.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. In older versions of Python (before 3.7), dictionaries did not preserve insertion order at all.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
     - lists access elements by numerical index, while dictionaries access elements by unique keys.

     1. lists index based retrieval
        
        . access elements using their position(index)

        . Index starts from 0

        . Slower searching value speed (0(n) time).

    2. Dictionaries-key-Based retrival
       
       . access elements using a key, not a position.

       . very fast lookup using keys(0(1) average time).

       . to get a value, you must now the key.

In [ ]:
#2.Explain the difference between mutable and immutable data types with examples.
my_list = [1,2,3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
#set
s = {"red", "orange"}
s

{'orange', 'red'}

In [ ]:
type(s)

set

In [ ]:
s = {"red", "orange", "red", "blue", "orange"}
s

{'blue', 'orange', 'red'}

In [ ]:
#dictionary
my_dict ={}

In [ ]:
type(my_dict)

dict

In [ ]:
my_dict = {"key_course" : "data science", "duration":200}
my_dict

{'key_course': 'data science', 'duration': 200}

In [ ]:
#4.Describe how dictionaries store data.
my_dict = {
    "name": "yash",
    "age": 24,
    "city": "mumbai"
}

In [ ]:
print(my_dict["name"])
my_dict["age"] = 25  #update age
my_dict["country"] = "india"

yash

In [ ]:
#9.Can lists contain different data types in Python?
mixed_list = [12, "hello", 3.5, True, [1, 2, 3]]
print(mixed_list)

[12, 'hello', 3.5, True, [1, 2, 3]]

In [ ]:
#13.How do sets handle duplicate values in Python?
my_set = {1,2,2,3,3,3,4}
print(my_set)

{1, 2, 3, 4}

In [ ]:
#Remove duplicates
my_list = [1,2,3,3,3,4]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4}

In [ ]:
my_list_without_duplicates = list(my_set)
print(my_list_without_duplicates)

[1, 2, 3, 4]

In [ ]:
#14.How does the “in” keyword work differently for lists and dictionaries3
#list
my_list = [1,2,3,4,5]
print(3 in my_list)
print( 6 in my_list)

True
False

In [ ]:
#Dictionary
my_dict = {"name": "rahul","age": 30}
print("name" in my_dict)
print("city" in my_dict)

True
False

In [ ]:
#16.What is a nested dictionary, and give an example of its use case?
students ={
 "101":  {"name": "yash", "age": 25, "marks": 85},
 "102":  {"name": "Anjali", "age": 24,"marks":92}
}
#"101" and "102" keys are outer dictionary

In [ ]:
print(students["101"]["name"])
print(students["102"]["marks"])

yash
92

In [ ]:
#1.Write a code to create a string with your name and print it.
my_name = "Yash"
print("My name is", my_name)

My name is Yash

In [ ]:
#2.Write a code to find the length of the string "Hello World".
message = "Hello World"
length = len(message)
print("length of the string is:", length)

length of the string is: 11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
sliced = text[:3]
print("First 3 characters:", sliced)

First 3 characters: Pyt

In [ ]:
#4.Write a code to convert the string "hello" to uppercase.
text = "hello"
uppercase_text = text.upper()
print("Uppercase:", uppercase_text)

Uppercase: HELLO

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1,2,3,4]
numbers.append(10)
print("update list:", numbers)

update list: [1, 2, 3, 4, 10]

In [ ]:
#8.P Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1,2,3,4,5]
numbers.remove(3)
print("updatelist:", numbers)

updatelist: [1, 2, 4, 5]

In [16]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("Second element:", second_element)

Second element: b

In [17]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [18]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

In [20]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print("scond-to-last element:", second_last)

scond-to-last element: blue

In [21]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print("minimum number:", min_number)

minimum number: 5

In [22]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabit',)
cat_index = animals.index('cat')
print("index of cat:", cat_index)

index of cat: 1

In [23]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [24]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a','b','c',}
print("set:", my_set)

set: {'a', 'b', 'c'}

In [28]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear ()
print("cleared set:", my_set)

cleared set: set()

In [29]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print("update:", my_set)

update: {1, 2, 3}

In [31]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("union of set:", union_set)

union of set: {1, 2, 3, 4, 5}

In [32]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("intersecton of set:", intersection_set)

intersecton of set: {2, 3}

In [3]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "rahul",
    "age": 26,
    "city": "mumbai"
}
print("Dictionary:", person)

Dictionary: {'name': 'rahul', 'age': 26, 'city': 'mumbai'}

In [4]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'john', 'age': 25}
person["country"]= "usa"
print("updated dictonary:", person)

updated dictonary: {'name': 'john', 'age': 25, 'country': 'usa'}

In [5]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person["name"]
print("value of name:" , name_value)

value of name: Alice

In [6]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print("updated:", person)

updated: {'name': 'Bob', 'city': 'New York'}

In [8]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
  print("key 'city' does not exit in the dictionary.")

key 'city' does not exit in the dictionary.

In [10]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ("apple", "banana", "cherry")

# Creating a dictionary
my_dict = {"name": "Yash", "age": 25, "city": "Jodhpur"}

# Printing them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Yash', 'age': 25, 'city': 'Jodhpur'}

In [18]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [3, 57, 63, 65, 70]

In [19]:
#28.. Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = my_list [2]
print("Element at inedx 2:", third_element)

Element at inedx 2: cherry

In [23]:
#29.Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "Rahul", "age": 26}
dict2 = {"city": "Jaipur", "country": "India"}

combined_dict = {**dict1, **dict2}
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Rahul', 'age': 26, 'city': 'Jaipur', 'country': 'India'}

In [24]:
#30. Write a code to convert a list of strings into a set.
my_list = {"apple", "banana", "cherry", "date", "elderberry"}
my_set = set(my_list)
print("set:", my_set)

set: {'apple', 'banana', 'date', 'cherry', 'elderberry'}

In [25]:
#questions
"""
this is answer
"""

'\nthis is answer\n'